.lsdp-main-wrapper{
  --lsdp-flag-radius: 0px;
  --lsdp-flag-ratio: 4/3;
  --lsdp-normal-bg-color: #fff;
  --lsdp-normal-text-color: #000;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
}
/* General reset */
.lsdp-language-list,
.lsdp-language-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lsdp-main-wrapper .lsdp-language-list{
  overflow: hidden;
}

.lsdp-main-wrapper .lsdp-wrapper a{
  text-decoration: none;
}

.lsdp-main-wrapper .lsdp-wrapper.horizontal {
  overflow: hidden;
}

.lsdp-main-wrapper .lsdp-wrapper.horizontal .lsdp-language-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.lsdp-main-wrapper .lsdp-wrapper.vertical {
  overflow: hidden;
}

.lsdp-main-wrapper .lsdp-wrapper.vertical .lsdp-language-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Language switcher container */
.lsdp-wrapper {
    padding: 10px;
}

/* Language item styling */
.lsdp-lang-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    margin-bottom: 6px;
    white-space: nowrap;
    line-height: 1;
}

.lsdp-wrapper.horizontal .lsdp-lang-item a,
.lsdp-wrapper.vertical .lsdp-lang-item a{
  background-color: var(--lsdp-normal-bg-color);
}

.lsdp-wrapper.horizontal .lsdp-lang-item {
  margin-bottom: 0;
}

.lsdp-wrapper.vertical .lsdp-lang-item {
  margin-bottom: 0;
}


.lsdp-lang-image{
  aspect-ratio: var(--lsdp-flag-ratio);
}

/* Flag image styling */
.lsdp-lang-image img {
    object-fit: cover;
    border-radius: var(--lsdp-flag-radius);
}

/* Name, code, and flag inline */
.lsdp-lang-image,
.lsdp-lang-name,
.lsdp-lang-code {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    /* text-transform: capitalize; */
}

/* Link reset */
.lsdp-lang-item a,
.lsdp-active-language a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--lsdp-normal-text-color);
}

/* Active language button (dropdown trigger) */
.lsdp-active-language {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 4px;
    color: var(--lsdp-normal-text-color);
}

/* DROPDOWN STYLING */
.lsdp-wrapper.dropdown {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background-color: var(--lsdp-normal-bg-color);
  overflow: visible;
  align-items: center;
}

.lsdp-active-language .lsdp-dropdown-icon {
  transition: transform 0.3s ease;
  display: inline-block;
}

.lsdp-wrapper.dropdown:hover .lsdp-dropdown-icon {
  transform: rotate(180deg);
}

.lsdp-wrapper.dropdown span a{
  display: flex;
  flex-wrap: wrap;
  gap: .6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lsdp-wrapper.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  padding: 0px;
  z-index: 999;
  /* overflow-wrap: anywhere; */
  display: inline-table;
  width: 100%;
}

.lsdp-wrapper.dropdown ul li{
  text-decoration: none;
  background: var(--lsdp-normal-bg-color);
  display: block
}
.lsdp-wrapper.dropdown li a{
  color: var(--lsdp-normal-text-color);
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  white-space: nowrap;
}

.lsdp-dropdown-direction-up .lsdp-wrapper.dropdown ul {
  top: auto;
  bottom: 100%;
  justify-content: flex-start;
}

.lsdp-wrapper.dropdown.active::after, .lsdp-wrapper.dropdown:hover::after {
  border-width: 0 6px 6px 6px;
}

.lsdp-wrapper.dropdown.active ul, .lsdp-wrapper.dropdown:hover ul {
  opacity: 1;
  pointer-events: auto;
}


.lsdp_elementor_review_notice .lsdp_elementor_review_wrapper{
  padding: 10px; border:
  2px solid #EDACFB;
}
.lsdp_elementor_review_notice #lsdp_elementor_review_dismiss{
  position: absolute;
  bottom: 4px;
  background: #EDACFB;
  color: #0C0D0E;
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.lsdp_elementor_review_notice .lsdp_elementor_review_msg{
  font-size: 12px;
  line-height: 18px;
}

.lsdp_elementor_review_notice .lsdp_elementor_review_msg a{
  color: #EDACFB;
}
.lsdp_elementor_demo_btn{
  position: absolute;
  bottom: 4px;
  right: 30px;
  background: #EDACFB;
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.lsdp_elementor_demo_btn a{
  color: black;
}
.lsdp_elementor_demo_btn a:hover{
  color:black;
  text-decoration: none;
}