.lsad-wrapper {
  --lsad-flag-width: 20px;
  --lsad-flag-height: calc(var(--lsad-flag-width) * 0.75);
  --lsad-flag-radius: 0px;
  --lsad-flag-ratio: initial;
  --lsad-normal-text-font: initial;
  --lsad-normal-text-weight: initial;
  --lsad-normal-text-transform: initial;
  --lsad-normal-text-decoration: initial;
  --lsad-normal-text-style: initial;
  --lsad-normal-text-letter-spacing: initial;
  --lsad-normal-text-decoration-color: initial;
  --lsad-normal-text-decoration-style: initial;
  --lsad-normal-text-letter-spacing: initial;
  --lsad-normal-text-color: initial;
  --lsad-normal-text-size: 16px;
  --lsad-hover-text-size: var(--lsad-normal-text-size);
  --lsad-normal-text-line-height: calc(var(--lsad-normal-text-size) + 8px);
  --lsad-hover-text-line-height: calc(var(--lsad-normal-text-size,var(--lsad-hover-text-size)) + 8px);
  --lsad-lang-pading-top: 10px;
  --lsad-lang-pading-right: 0px;
  --lsad-lang-pading-bottom: 0px;
  --lsad-lang-pading-left: 0px;
  --lsad-normal-bg-color: #fff;
  --lsad-hover-bg-color: #fff;
  --lsad-hover-text-color: initial;
  --lsad-hover-text-font: initial;
  --lsad-hover-text-weight: initial;
  --lsad-hover-text-transform: initial;
  --lsad-hover-text-decoration: initial;
  --lsad-hover-text-decoration-style: initial;
  --lsad-hover-text-decoration-color: initial;
  --lsad-hover-text-letter-spacing: initial;
  --lsad-hover-text-style: initial;
  overflow: hidden;
}

.lsad-wrapper ul {
  padding: 0px;
}

.lsad-wrapper ul li, .lsad-wrapper ul li.lsad_active_lang {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--lsad-normal-bg-color);
  padding: var(--lsad-lang-pading-top) var(--lsad-lang-pading-right) var(--lsad-lang-pading-bottom) var(--lsad-lang-pading-left);
}

.lsad-wrapper ul li div:not(.lsad-lang-image) a {
  color: var(--lsad-normal-text-color);
  font-family: var(--lsad-normal-text-font);
  font-weight: var(--lsad-normal-text-weight);
  font-size: var(--lsad-normal-text-size);
  line-height: var(--lsad-normal-text-line-height);
  font-style: var(--lsad-normal-text-style);
  text-transform: var(--lsad-normal-text-transform);
  letter-spacing: var(--lsad-normal-text-letter-spacing);
  -webkit-text-decoration: var(--lsad-normal-text-decoration);
          text-decoration: var(--lsad-normal-text-decoration);
  -webkit-text-decoration-style: var(--lsad-normal-text-decoration-style);
          text-decoration-style: var(--lsad-normal-text-decoration-style);
  -webkit-text-decoration-color: var(--lsad-normal-text-decoration-color);
          text-decoration-color: var(--lsad-normal-text-decoration-color);
}

.lsad-wrapper ul li:hover, .lsad-wrapper ul li.lsad_active_lang:hover, .lsad-wrapper.dropdown ul li:hover {
  background-color: var(--lsad-hover-bg-color);
}

.lsad-wrapper ul li.lsad_active_lang.lsad_active_lang div:not(.lsad-lang-image),
.lsad-wrapper ul li.lsad_active_lang div:not(.lsad-lang-image) a, .lsad-wrapper ul li:hover.lsad_active_lang div:not(.lsad-lang-image),
.lsad-wrapper ul li:hover div:not(.lsad-lang-image) a {
  color: var(--lsad-hover-text-color, var(--lsad-normal-text-color));
  font-family: var(--lsad-hover-text-font, var(--lsad-normal-text-font));
  font-weight: var(--lsad-hover-text-weight, var(--lsad-normal-text-weight));
  font-size: var(--lsad-hover-text-size, var(--lsad-normal-text-size));
  line-height: var(--lsad-hover-text-line-height);
  font-style: var(--lsad-hover-text-style, var(--lsad-normal-text-style));
  text-transform: var(--lsad-hover-text-transform, var(--lsad-normal-text-transform));
  -webkit-text-decoration: var(--lsad-hover-text-decoration, var(--lsad-normal-text-decoration));
          text-decoration: var(--lsad-hover-text-decoration, var(--lsad-normal-text-decoration));
  -webkit-text-decoration-style: var(--lsad-hover-text-decoration-style, var(--lsad-normal-text-decoration-style));
          text-decoration-style: var(--lsad-hover-text-decoration-style, var(--lsad-normal-text-decoration-style));
  -webkit-text-decoration-color: var(--lsad-hover-text-decoration-color, var(--lsad-normal-text-decoration-color));
          text-decoration-color: var(--lsad-hover-text-decoration-color, var(--lsad-normal-text-decoration-color));
}

.lsad-wrapper.horizontal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  
}

.lsad-wrapper.dropdown {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 15px;
  background: #fff;
  cursor: pointer;
  outline: none;
  padding-right: 3rem;
  background-color: var(--lsad-normal-bg-color);
  overflow: visible;
}

.lsad-wrapper.dropdown::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: grey transparent;
}

.lsad-wrapper.dropdown span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lsad-wrapper.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  background: #f5f5f5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  padding: 0px;
  z-index: var(--lsad-dropdown-index, 0);
  display: inline-table;
  width: 100%;
}

.lsad-wrapper.dropdown ul li {
  text-decoration: none;
  color: #333;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.lsad-wrapper.dropdown.active::after, .lsad-wrapper.dropdown:hover::after {
  border-width: 0 6px 6px 6px;
}

.lsad-wrapper.dropdown.active ul, .lsad-wrapper.dropdown:hover ul {
  opacity: 1;
  pointer-events: auto;
}

.lsad-wrapper .lsad-lang-image {
  width: var(--lsad-flag-width);
  height: var(--lsad-flag-height);
  border-radius: var(--lsad-flag-radius);
  aspect-ratio: var(--lsad-flag-ratio);
  line-height: 0;
  overflow: hidden;
}

.lsad-wrapper .lsad-lang-image a {
  line-height: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.lsad-wrapper .lsad-lang-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
/*# sourceMappingURL=style.css.map */